.button {
    -fx-font-weight: bold;
}

.headerPane {
/ / -fx-background-color : #2388DB;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #bdd5f4 0%, #65ace6 5%, #2388db 50%
    );
    -fx-border-radius: 10px;
    -fx-background-radius: 10px 10px 0px 0px;
}

.rootPane {
    -fx-background-color: rgba(35, 136, 219, 0.8);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px 10px 10px 10px;

}

.middlePane {
    -fx-background-color: rgba(35, 136, 219, 0.8);
}

.bottomPane {
    -fx-background-color: rgba(35, 136, 219, 0.8);
    -fx-border-radius: 10px;
    -fx-background-radius: 0px 0px 10px 10px;
}

.itemPane {
    -fx-background-color: rgba(235, 244, 252, 0.0)
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent

}

/
/
C:\AndreasOperativsystem\Projekt\ospp-2015-group-04\src\BookingFX\src\main\resources\styles